* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0084fd;
    --main-color-light: #B6DDFF;
    --secondary-color: #9692E3;
    --accent-text-color: #FDC15E;
    --bg-white: white;
    --footer-color: #333333;
}
