@import url('./reset.css');

/* GENERAL */

html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-small {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
}

.primary-button a {
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 25px;
    padding: 10px 10px;
}

.secondary-button a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--main-color);
    border-radius: 25px;
    padding: 10px 50px;
}

.third-button a {
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: 12px 15px;
    vertical-align: middle;
}

.fourth-button a {
    display: inline-block;
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--bg-white);
    border-radius: 25px;
    padding: 10px 50px;
    font-weight: 900;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.my-col {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
}

.bg-main {
    background-color: var(--main-color);
}

.bg-main-light {
    background-color: var(--main-color-light);
}

.bg-secondary-color {
    background-color: var(--secondary-color);
}
.bg-white {
    background-color: var(--bg-white);
}

/* HEADER */

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header-section nav {
    display: none;
}

.header-section nav li {
    display: inline-block;
}

.header-section nav li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.header-section img {
    vertical-align: middle;
}

.hamburger svg {
    fill: white;
}

/* MAIN */

/* INIZIO SECTION 1 */

main > section {
    padding: 30px 0;
}

.card-info > * {
    padding: 20px;
}

.fa-apple {
    color: var(--bg-white);
    padding-right: 5px;
}

.card-small {
    text-align: center;
    padding: 10px 10px;
}

.card-small > * {
    padding: 10px 0;
}

.card-small :first-child {
    color: var(--main-color);
}

#section-1 h3 {
    color: var(--main-color);
}

#section-1 img {
    width: 200px;
    margin-bottom: -7px
}

/* FINE SECTION 1 */

/* INIZIO SECTION 2 */

#section-2 img {
    width: 100%;
}

.planning-container-left > :first-child {
    text-align: center;
}

.planning-container-left > * {
    padding: 20px 0;
    color: var(--bg-white);
}

.planning-container-right {
    border-radius: 25px;
    text-align: center; 
}

.planning-container-right > *{
    padding: 20px 0;

}

.planning-container > * {
    padding: 40px;
}

/* FINE SECTION 2 */

/* INIZIO SECTION 6 */

#section-6 {
    background-color: var(--secondary-color);
    text-align: center;
}

.container-small-section > * {
    padding: 15px 0;
}

#section-6  h5 {
    color: var(--bg-white);
    font-weight: 100;
    font-size: 20px;
}

#section-6  h3 {
    color: var(--bg-white);
    font-weight: 900;
    font-size: 30px;
}

#section-6  h2 {
    color: var(--accent-text-color);
    font-weight: 900;
    font-size: 45px;
}

#section-6  p {
    color: var(--bg-white);

}

#section-6 p a {
    color: var(--bg-white);
}
/* FINE SECTION 6 */


/* FOOTER */

footer {
    text-align: center;
    color: white;
    background-color: var(--footer-color);
    padding: 50px 0;
}

footer .container-small :first-child {
    padding-bottom: 40px;
}

footer a {
    color: var(--secondary-color);
}

/* MEDIA QUIERY */

@media screen and (min-width: 768px) {

    .my-col-tablet-33 {
        width: calc((100% / 3) - 20px);
    }

    .my-col-tablet-66 {
        width: calc(((100% / 3) * 2) - 20px);
    }

} 


@media screen and (min-width: 992px) {

    .header-section nav {
        display: block;
    }

    .hamburger {
        display: none;
    }

    .main-card {
        display: flex;
        align-items: flex-end;
    }

    .main-card > :first-child {
        width: 60%;   
    }

    .main-card > :last-child {
        width: 40%;   
    }

    #section-2 .planning-container {
        padding:  50px 60px;
    }
    
    .planning-container  {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

} 



